<!-- Show Task List -->

<div style="text-align:center;">
    <mat-form-field style=" width: 54%; text-align: center;" class="example-full-width" appearance="fill">
        <input (input)="filterItems($event)" type="text" matInput placeholder="Search Task">
    </mat-form-field>
</div>

<table mat-table [dataSource]="this.backend.taskList" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef>Task Name</th>
        <td mat-cell *matCellDef="let element">{{element.taskName}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="taskDescription">
        <th mat-header-cell *matHeaderCellDef> Task Description </th>
        <td mat-cell *matCellDef="let element"> {{element.taskDescription}} </td>
    </ng-container>
    <ng-container matColumnDef="assigneeId">
        <th mat-header-cell *matHeaderCellDef> Assignee ID </th>
        <td mat-cell *matCellDef="let element"> {{element.assigneeId}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="taskStatus">
        <th mat-header-cell *matHeaderCellDef> Task Status </th>
        <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
    </ng-container>
    <ng-container matColumnDef="taskDetail">
        <th mat-header-cell *matHeaderCellDef> Task Detail </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="navigate('taskDetail',element)" mat-button class="detail-btn-cls">Task
                Detail</button>
            <!-- <button [routerLink]="'/taskDetail'" mat-button class="detail-btn-cls">Task Detail</button> -->
        </td>
    </ng-container>
    <ng-container matColumnDef="assignTask">
        <th mat-header-cell *matHeaderCellDef> Assign Task </th>
        <td mat-cell *matCellDef="let element"> <button (click)="assignTask(element)" mat-button
                [ngClass]=" element.assigneeId > 0 ? 'assign-btn-cls' : 'assign-btn-cls2' "
                class="assign-btn-cls">{{element.assigneeId > 0 ? 'Assigned' : 'Assign'}}</button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>