<mat-card>
    <mat-card-title>Task Detail</mat-card-title>
    <mat-card-subtitle>Please check your task detail</mat-card-subtitle>
    <mat-card-content>
        <h3>
            Assign To: {{taskDetail.assigneeId}}
        </h3>
        <h2>
            Task Name: {{taskDetail.taskName}}
        </h2>
        <h3>
            Description: {{taskDetail.taskDescription}}
        </h3>
        <h3>
            Task Status: {{taskDetail.completed}}
        </h3>
    </mat-card-content>
</mat-card>